<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.procrastimax.birthdaybuddy">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning"
            android:fullBackupContent="true"
            android:restoreAnyVersion="true">

        <!-- Search activity -->
        <activity
                android:name=".SearchableActivity"
                android:theme="@style/AppTheme_Searching">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
            <!-- registered backup service key
            <meta-data
                    android:name="com.google.android.backup.api_key"
                    android:value="AEdPqrEAAAAIggCN4lqkiORinWVvfQ0f9ncjukxCiV202c9r_g"/>-->
        </activity>

        <!-- Main activity -->
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:launchMode="singleTask">

            <!-- enable the search widget to send searches to SearchableActivity -->
            <meta-data
                    android:name="android.app.default_searchable"
                    android:value=".SearchableActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver">
        </receiver>

    </application>

</manifest>